.date-app {
  margin-left: 60px;
  color: white;
}
.datepick-app {
  margin-left: 800px;
  color: aliceblue;
}
.grid-app {
  background-color: grey;
}

.edit-app {
  font-size: 50px;
  color: aliceblue;
}
.style-app {
  background-color: brown;
  height: 100px;
}
