table {
  border: 1px solid black;
  font-size: 20px;
  padding: 5px;
}
button {
  background-color: black;
  color: white;
  height: 30px;
  width: 80px;
}
td {
  border: 1px solid black;
}
.main-app {
  margin-bottom: 100px;
  margin-right: 400px;
}
tr {
  border: 1px solid black;
}
th {
  border: 1px solid black;
}
